@charset "utf-8";

/* sarabun-regular - latin */
@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 400;
    src: local('Sarabun Regular'), local('Sarabun-Regular'),
        url('../fonts/sarabun-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/sarabun-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  
  /* sarabun-700 - latin */
@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 700;
    src: local('Sarabun Bold'), local('Sarabun-Bold'),
        url('../fonts/sarabun-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/sarabun-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  

$family-sans-serif: 'Sarabun', sans-serif;
$beige: #f0e7da;
$dark-beige: #eec4a8;
$red: #ff3d3d;
$green: #539911;
$yellow: #f8d123;

$body-background-color: $beige;
$navbar-background-color: $dark-beige;
$footer-background-color: $dark-beige;
$tabs-link-active-border-bottom-color: $red;
$tabs-link-active-color:$red;
$primary: $green;
$info: $red;
@import '../../../node_modules/bulma/bulma.sass';
@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

.activity-day {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 3px;
    background-color: $red;
    opacity: 0.9;
    &.lit {
        background-color: $green;
    }
}
.like-button {
    cursor: pointer;
}
.class-buttons {
    .class-button {
        @extend .like-button;
        margin: 1rem;
        img {
            border-radius: 2rem;
        }
        figcaption {
            position: absolute;
            top: 10%;
            background-color: rgba($beige, 0.8);
            width: 100%;
            padding: 2rem;
            user-select: none;
        }
    }
}

.timer {
    @extend .subtitle;
    color: $green;
}

.submit-question-button {
    @extend .button, .is-large, .is-primary;
}

html{
    scroll-behavior:smooth;
}
body {
    background-image: url('../images/tiling.png');
    background-size: 10%;
}
.centered {
    margin: auto;
}
canvas {
    border-style:solid;
    border-width: 2px;
}

.navbar-item {
    img {
        max-height: 3rem;
    }
}