@charset "utf-8";
$yellow: #f0e7da;
$yellowDark: #eec4a8;
$red: #ff3d3d;
$green: #539911;

$body-background-color: $yellow;
$navbar-background-color: $yellowDark;
$footer-background-color: $yellowDark;

$primary: $green;
@import '../../../node_modules/bulma/bulma.sass';


.activity-day {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 3px;
    background-color: $red;
    opacity: 0.9;
    &.lit {
        background-color: $green;
    }
}
.subject-buttons {
    .subject-button {
        margin: 1rem;
        cursor: pointer;
        img {
            border-radius: 2rem;
        }
        figcaption {
            position: absolute;
            top: 10%;
            background-color: rgba($yellow, 0.8);
            width: 100%;
            padding: 2rem;
            user-select: none;
        }
    }
}

.timer {
    @extend .subtitle;
    color: $green;
}

.submit-question-button {
    @extend .button, .is-large, .is-primary;
}

html{
    scroll-behavior:smooth;
}
.centered {
    margin: auto;
}